@import "../scss/index.scss";

.spinner {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.spinner__icon {
    animation: spinner 1s infinite linear;
    color: white;

}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}